---
import { changeLanguage, t } from "i18next";
import Layout from "../layouts/Layout.astro";
import "../styles/index.css";
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import Divider from "../components/Divider.astro";

changeLanguage("en");

const jobs = [
  {
    title: "Senior FrontEnd Developer",
    company: "experience.quantilope.company_name",
    company_link: "https://www.quantilope.com",
    roles: [
      "experience.quantilope.role_1",
      "experience.quantilope.role_2",
      "experience.quantilope.role_3",
    ],
    acheivements: [
      "experience.quantilope.achievement_1",
      "experience.quantilope.achievement_2",
      "experience.quantilope.achievement_3",
      "experience.quantilope.achievement_4",
    ],
    from: "Nov 2021",
    till: "Present",
    totalDuration: "1 yr 2 mos",
    multipleRoles: [],
  },
  {
    title: "Lead FrontEnd Developer",
    company: "experience.about_you.company_name",
    company_link: "https://en.aboutyou.de/",
    roles: [
      "experience.about_you.role_1",
      "experience.about_you.role_2",
      "experience.about_you.role_3",
      "experience.about_you.role_4",
      "experience.about_you.role_5",
      "experience.about_you.role_6",
    ],
    acheivements: [
      "experience.about_you.achievement_1",
      "experience.about_you.achievement_2",
      "experience.about_you.achievement_3",
    ],
    from: "Nov 2018",
    till: "Oct 2021",
    totalDuration: "2 yrs 3 mos",
    multipleRoles: [],
  },
  {
    title: "Software Developer",
    company: "experience.razorthink.company_name",
    company_link: "https://razorthink.com/",
    roles: [
      "experience.razorthink.role_1",
      "experience.razorthink.role_2",
      "experience.razorthink.role_3",
    ],
    acheivements: [
      "experience.razorthink.achievement_1",
      "experience.razorthink.achievement_2",
      "experience.razorthink.achievement_3",
    ],
    from: "Jul 2017",
    till: "Oct 2018",
    totalDuration: "1 yr 4 mos",
    multipleRoles: [],
  },
  {
    title: "Junior Web developer",
    company: "experience.cmango.company_name",
    company_link: "https://cartoonmango.com/",
    roles: [
      "experience.cmango.role_1",
      "experience.cmango.role_2",
      "experience.cmango.role_3",
    ],
    acheivements: [
      "experience.cmango.achievement_1",
      "experience.cmango.achievement_2",
      "experience.cmango.achievement_3",
    ],
    from: "April 2015",
    till: "July 2017",
    totalDuration: "2 yr 2 mos",
    multipleRoles: [],
  },
];
---

<Layout title="Home - Vijayakrishna N.V">
  <Header />
  <Navbar />
  <section class="px-0.25 flex flex-col">
    <h2 class="text-lg leading-9 my-1 dark:text-slate-300">
      So usually one would start their jobs journey from the present to the
      past. (like LinkedIn Profiles :🔝 ⬇).<br /> However I would like you to know
      how I began my journey and became a Front end developer. Therefor I'll be going
      from the past to the present
      <br /><br />
      So I just graduated from college. An year before my graduation, I started building
      websites for my college using PHP
      <br /> Later I realized writing PHP felt lousy.Hence I decided to learn Javascript.
      <br /> I soon realised that I want to continue writing Javascript in my future
      jobs.<br />
      <p class="text-amber-700 dark:text-amber-300">
        This preference made me turn down my first job offer in college which
        would have gone south of what I actually wanted to do. (May be JAVA 🤔)
      </p>
      <br />
      So, I decided to join a start up which was nothing when I started but still
      decided to take the risk since it was a Javascript role :YAY 😁
      <br /><p class="text-xl dark:text-amber-300 font-bold">
        That Start up was ⬇️
      </p>
    </h2>
    {
      jobs
        .reverse()
        .map(
          ({
            title,
            roles,
            from,
            till,
            company,
            totalDuration,
            company_link,
            acheivements,
          }) => (
            <div class="flex flex-col gap-0.5 mb-2">
              <div class="flex flex-col lg:flex-row items-center gap-0.25">
                <h2 class="text-2xl text-amber-700 font-semibold dark:text-light-blue">
                  🕵️ {title}
                </h2>
                <p>-</p>
                <a
                  target="_blank"
                  href={company_link}
                  class="dark:text-blue-300 font-medium text-blue-800 cursor-pointer"
                >
                  {t(company)}
                </a>
              </div>
              <p class="dark:text-slate-400 text-slate-700">
                Full Time . {from} to {till} . {totalDuration}
              </p>
              <Divider classnames={["border", "dark:border-slate-500"]} />
              <section class="flex flex-col lg:flex-row gap-1.5">
                <div class="text-base my-1 lg:w-1/2 dark:text-slate-300 font-normal flex flex-col gap-0.5">
                  {roles.map((role) => (
                    <p>{t(role)}</p>
                  ))}
                </div>
                <div class="text-lg lg:w-1/2 dark:text-slate-300 font-normal flex flex-col gap-0.5">
                  <h3 class="text-xl font-bold text-amber-700 dark:text-light-blue">
                    Key Achievements 🏆
                  </h3>
                  <Divider classnames={["border", "dark:border-slate-500"]} />
                  {acheivements.map((acheivement) => (
                    <div>
                      <span class="text-lg dark:text-amber-300 font-medium">
                        🥇 {t(acheivement)}
                      </span>
                    </div>
                  ))}
                </div>
              </section>
            </div>
          )
        )
    }
  </section>
</Layout>
