---
import { t } from "i18next";
import classNames from "classnames";
const { pathname } = Astro.url;
const locales = ["de"];
---

<nav class="flex flex-row gap-0.5 text-sm md:text-base mt-1">
  {
    [
      ["navbar.about_me", "about"],
      ["navbar.projects", "projects"],
      ["navbar.experience", "experience"],
    ].map(([title, url]) => {
      const [, pathLocale, ..._] = pathname.split("/");
      const locale = locales.find((locale) => locale === pathLocale);
      const fullUrl = locale ? `/${locale}/${url}` : `/${url}`;
      return (
        <a
          href={fullUrl}
          class={classNames(
            "rounded-md p-0.5 text-slate-800 dark:text-amber-400 font-medium hover:bg-amber-700 dark:hover:bg-amber-50 dark:hover:text-slate-800 hover:text-slate-100 text-center",
            {
              "bg-amber-700 dark:bg-amber-50 dark:text-slate-800 text-slate-100":
                pathname.includes(url),
            }
          )}
        >
          {t(title)}
        </a>
      );
    })
  }
</nav>
